/* You can add global styles to this file, and also import other style files */
body.default-background {
    background-image: url("app/login/images/fondoLogin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra el contenedor horizontalmente */
    align-items: center; /* Centra el contenedor verticalmente */
    font-family: 'Shrikhand';
    font-weight: 150;
}
body.alt-background {
    background-image: url("app/lobby/Images/background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: 'Shrikhand';
    font-weight: 100;
}
